@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Dongle&family=Lato:wght@300&family=Oswald&display=swap');

/* remember reponsive design for 1200px, 900px and 800px screen */
/* remember to update readme file - say thanks to fontawewsome, pexels (for all images individually)*/
/* hover element for links */
/*remember aria-labels for all links including navigation links */
/* remember alt labels for all images including those inputted using CSS */
/* add comments throughout explaining key bits of code */
/*fix aria-labels for images inputed using css*/
/* remember to make some changes to text spacing in pages between headers and paragraphs */

h1 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 100px;
} 

.love-edinburgh {
    text-decoration: none;
    color: black;
}

 h2 {
    font-family: Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 60px;
} 

h3 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 45px;
} 

h4 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 30px;
} 
/*  p {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto; 
    font-size: 35px;
    position: relative;
    color: black;
} */


iframe {
    display: block;
    margin: auto;
}

#hero-image {
    width: 100%;
    height: 1200px;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

/* top right bottom left */

#menu {
    float: right;
    font-family: Dongle, Helvetica, sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu li {
    float: right;
    font-family: Dongle, Helvetica, sans-serif;
    margin-bottom: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
}

#menu a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

#menu a:hover {
    color: grey;
}

#intro-text {
    margin: 20px 0 0 20px;
    float: left;
    position: absolute;
    font-family:Dongle, Helvetica, sans-serif;
    margin: 0 25% 0 0; 
    font-size: 35px;
    padding: 40px;
}

.social-media {
    display: block;
    margin: auto;
    font-family: Dongle, Helvetica, sans-serif;
    text-align: center;
    white-space: normal;
}

/* ok to target a rather than li ? */
footer {
    padding: 50px;
    position: static;
    display: inline-block;
    height: 100px;
}

.social-media i {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.social-media h3 {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 3px;
}


#to-do {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 20px;
}

#welcome-video {
    margin-top: 10px;
}



#to-do-fringe {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
    /* margin-right: 500px; */ 
    margin-bottom: 100px;
    margin-right: 75%; 
    margin-left: 10%;;
    background-color: black;
    opacity: 0.8;
    width: 50%;
    text-align: center;
    padding: 10px;
}
 



#to-do-film {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 100px;
    float: right; 
    color: white;
    margin-bottom: 100px;
    margin-right: 10%; 
    margin-left: 75%;
    background-color: black;
    opacity: 0.8;
    width: 50%;
    text-align: center;
} 
#to-do-book {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    margin-right: 75%; 
    margin-left: 10%;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    opacity: 0.75;
    float: left;
    width: 50%;
    text-align: center;
}

#to-do-music {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    margin-bottom: 100px;
    float: right; 
    color: white;
    margin-bottom: 100px;
    margin-right: 10%; 
    margin-left: 75%;
    background-color: black;
    opacity: 0.8;
    width: 50%;
    text-align: center;
    padding: 10px;
} 

#to-do-fringe:hover {
    opacity: 1;
 }
 #to-do-film:hover {
    opacity: 1;
 }
 #to-do-book:hover {
    opacity: 1;
 }

 #to-do-music:hover {
    opacity: 1;
 }

#to-do-text > p {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 25px;
   /* margin-right: 100px; */
    margin-bottom: 100px;
    color: white;
    background-color: black;
    opacity: 0.6;
} 

#edfest {
    width: 100%;
    height: 1445px;
    background: url('../images/dancing-performed.jpg') no-repeat center center;
    background-position: center;
    display: block;
}
/*
.to-do-text2 {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 5px;
    color: white;
    background-color: black;
    opacity: 0.6;
}
*/
#form-image {
    width: 100%;
    height: 500px;
    background: url('../images/form-background.jpg') no-repeat center center;
}

#form-text-container {
    width: 50%;
    height: 210px;
    background-color: #c2099d;
    color: white;
    font-family:Dongle, Helvetica, sans-serif;
    font-size: 25px;
    opacity: 0.9;
    padding: 10px;
}


#form-heading
 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 30px;
}

label {
    display: inline-block;
    width: 105px;
    text-align: left;
}

#food-text {
    float: left;
    color: black;
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    clear: left;
    text-align: center;
    justify-content: center;

}

#food-text > p {
    margin: 0 50px 10px 0; 
    display: block;
    font-size: 32px;
    float: left;
    padding: 40px;
}

#food-container {
    display: flex; 
    margin: auto;
    padding: 30px;

}

/* #chef-cooking-image {
    background: url('../images/chef-cooking.jpg') no-repeat right;
    width: 100%;
    height: 1000px;
    padding: 60px;
    background-size: contain;
    justify-content: right;
} */

#laska-img {
    float: left;
    height:500px;
    width: 40%;
}

#champagne-img {
    height:500px;
    width: 60%;
}

#oysters-img {
    height:500px;
    width: 80%;
}

#cocktails-img {
    height:100px;
    width: 20%;
    float:left;
    margin-top:500px;
}


#social-media-eat {
    margin-top: 100px;
}
#travel-div {
    margin: auto;
    width: 60%;
}

#travel-text {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px; 
    color: white;
    background-color: black;
    opacity: 0.75;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 50px;
    position: absolute;
} 

#edin-travel {
    background: url('../images/ed-travel.jpg') repeat center center;
    width: 100%;
    height: 1000px;
    padding: 60px;
    background-size: contain;
}

@media screen and (max-width: 950px) {
    h1 {
        font-size: 35px;
    }
    #food-container {
        width:80%;
        height: 50px;
        margin:auto;
     }
}

@media screen and (max-width: 800px) {
    #food-container {
       width:80%;
       height: 50px;
       margin:auto;
    }

    #menu {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
    
    iframe {
        width: 90%;
        height: 400px;
    }

    #hero-image {
        width: 90%;
        height: 1200px;
    }

    #form-text-container {
        width: 50%;
        height: 450px;
        font-size: 20px;
        column-count: 5;
    }

    #food-text {
        font-size: 20px;
    }
    #travel-div {
        font-size: 5px;
    }

    #travel-text {
        font-size: 15px;
    }
    
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }
}




@media screen and (max-width: 1200px) {
}