@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Fredoka:wght@300;400&display=swap');

/* Wildcard code inspired from code institute love running project  */

* {
    margin: 0;
    padding: 0; 
    border: none;
}

/* heading and body styling */

h1 {
    font-family: Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 100px;
    font-weight: 700;
}

h2 {
    font-family: Dongle, Helvetica, sans-serif;
    display: block; 
    font-size: 60px;
    line-height: 0%;
    font-weight: 400;
}

h3 {
    font-family: Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 45px;
}

h4 {
    font-family: Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 30px;
}

body {
    font-family: Dongle, Helvetica, sans-serif;
    font-weight: 200;
    color: black;
    font-weight: 300;
}

/* Removal of text decoration of love edinburgh link back to homepage */

#logo {
    text-decoration: none;
    color: black;
    font-size: 250%;
}

/* Addition of navigation menu */



#menu {
    font-family: Dongle, Helvetica, sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 180%;
    float: right;
    text-transform: uppercase;
}

#menu li {
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    float: left;
}
    
#menu a {
    text-decoration: none;
    color: black; 
}

/* Alignment of site logo and header */

#logo, #menu {
    line-height: 100px;
    display: flex;
    padding: 10px;
    height: 100px;
}

/* Addition of hover effect of navigation menu */

#menu a:hover {
    color: gray;
}

#nav-logo {
    display: inline-block;
    height: auto;
    width: 100%;
}

#menu-container {
    float: right;
}

#logo-container {
    float: left;
}

/* Addition of hero image on homepage */

#hero-outer {
    height: 1200px;
    width: 100%;
    position: relative;
}

/* image from pexels.com - https://www.pexels.com/photo/silhouette-of-big-ben-surrounded-by-fog-during-daytime-161863/ */

#hero-image {
    width: 100%;
    height: 1200px;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

/* Positioning and styling of intro text (overlapping hero image */

#intro-text {
    float: left;
    position: absolute;
    font-family: Dongle, Helvetica, sans-serif;
    margin: 0 30% 0 0;
    font-size: 35px;
    padding: 50px;
}

#intro-text>h2 {
    line-height: 40px;
}


/* repositioning of iframe element and it's associated div element on homepage */

iframe {
    display: block;
    margin: auto;
}


#welcome-video {
    margin-top: 10px;
}

/*Addition of social media in footer and styling of footer */

.social-media {
    text-align: center;
    height: 100px;
}

.social-media>li {
    list-style-type: none;
}

.social-media i {
    text-decoration: none;
    margin: 1.1%;
    font-size: 2em;
    color: #000000;
}

.social-media h3 {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

footer li {
    display: inline;
}

/* Addition of background image on events page */

#events-outer {
    height: 1445px;
    width: 100%;
    position: relative;
}

/* image from pexels.com - https://www.pexels.com/photo/silhouette-photography-of-people-on-theater-1714361/ */

#edfest {
    width: 100%;
    height: 1445px;
    background: url('../images/theatre.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    display: block;
    background-size: auto 100%;
}

#events-heading {
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

/* Styling of div elements containing text on events page */

#events-fringe {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    color: white;
    margin-right: 500px;
    margin-bottom: 100px;
    margin-right: 75%;
    margin-left: 10%;
    background-color: black;
    opacity: 0.85;
    width: 50%;
    text-align: center;
    padding: 10px;
}



#events-film {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    margin-bottom: 100px;
    float: right;
    color: white;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 75%;
    background-color: black;
    opacity: 0.85;
    width: 50%;
    text-align: center;
}

#events-book {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    margin-right: 75%;
    margin-left: 10%;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    opacity: 0.85;
    float: left;
    width: 50%;
    text-align: center;
}

#events-music {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    margin-bottom: 100px;
    float: right;
    color: white;
    margin-bottom: 100px;
    margin-right: 10%;
    margin-left: 75%;
    background-color: black;
    opacity: 0.85;
    width: 50%;
    text-align: center;
    padding: 10px;
}

/* Addition of hover effects of div elements on events page 
Code taken from inspiration from https://www.w3schools.com/css/css_image_transparency.asp*/


#events-fringe:hover {
    opacity: 1;
}

#events-film:hover {
    opacity: 1;
}

#events-book:hover {
    opacity: 1;
}

#events-music:hover {
    opacity: 1;
}

/* Styling of text of eat+drink page */

#eat-heading {
    font-size:  50px;
    text-align: center;
    display: block;
    padding: 25px;
    font-weight: 400;
}

#food-text {
    color: black;
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    text-align: center;
}

#food-text>p {
    margin: 0 50px 10px 0;
    display: block;
    font-size: 32px;
    float: left;
    padding: 40px;
}

/*Styling of div element on eat+drink page */
/* !!!! */
#food-container {
    display: flex;
    margin: auto;
    position: relative;
}

/*Styling of img elements on eat+drink page */

#champagne-img {
    height: auto;
    width: 50%;
    padding-bottom: 20px;
}

#oysters-img {
    height: auto;
    width: 50%;
    padding-bottom: 20px;
}

#travel-div {
    margin: auto;
    width: 60%;
}

/* Addition of travel outer element */

#travel-outer {
    height: 1000px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Addition of background image on travel adive page. Note - I deliberately wanted to repeat the image. 
/* image from pexels.com - https://www.pexels.com/photo/three-person-crossing-streets-2242170/ */

#edin-travel {
    background: url('../images/ed-travel.jpg') repeat center center;
    height: 1000px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: contain;
}

/* Styling of text on travel advice page and div element */

#travel-text {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.9em;
    color: white;
    background-color: black;
    opacity: 0.8;
    width: 82%;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    position: relative;
}

#travel-text>h2 {
    text-decoration: underline;
    font-size: 1.8em;
    padding: 20px;
}

/* Addition of image background for form on newsletter page 
Image from pexels.com - https://www.pexels.com/photo/photo-of-live-concert-1540372/ */

#form-image {
    width: 100%;
    height: 800px;
    background: url('../images/newsletter-signup.jpg') no-repeat center center;
}

#form-text-container {
    width: 300px;
    height: auto;
    background-color: rgb(4, 0, 0);
    color: white;
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 25px;
    opacity: 0.9;
    padding: 10px;
}

/* Styling of inputs and associated labels on newsletter page */

#form-heading {
    font-family: Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 30px;
}

#newsletter-form {
    width: auto;
    height: auto;
}

.signup-button {
    margin: auto;
    width: 50px;
}

label {
    display: inline-block;
    width: 105px;
    text-align: left;
    font-size: 25px;
}


/*Responsive element code below */


@media screen and (max-width: 2000px) {

    #form-text-container {
        width: 50%;
        margin: 0 auto;
    }

    #food-container {
        width: 70%;
    }

    #food-text {
        width: 100%;
        margin: 0 auto;
    }

    #food-text>h3 {
        width: 90%;
        margin: 0 auto;
        display: block;
    }

}

@media screen and (max-width: 1200px) {

    #form-text-container {
        font-size: 1em;
        display: block;
        width: 70%;
        height: auto;
        float: left;
    }

    #form-image {
        float:left;
    }

}

@media screen and (max-width: 1012px) {

    h1 {
        font-size: 2em;
    }

}

@media screen and (max-width: 979px) {

    #hero-image {
        width: auto;
        height: auto;
    }

}

@media screen and (max-width: 1000px) {

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.3em;
    }

    h3 {
        font-size: 1.2em;
    }

    #intro-text {
        font-size: 1em;
    }

    #menu {
        font-size: 2em;
    }

    iframe {
        width: 90%;
        height: 400px;
    }

    #hero-image {
        width: 100%;
        height: 1200px;
    }

    .social-media h3 {
        color: black;
        font-size: 25px;
    }

    #eat-heading {
        font-size: 35px;
    }

    #food-text {
        font-size: 20px;
    }

    #food-container {
        width: auto;
        height: auto;
    }

    #food-text {
        font-size: 1.2em;
        display: block;
    }

    #travel-div {
        font-size: 50px;
    }

    #travel-text {
        font-size: 0.5em;
    }

    #events-outer {
        font-size: 0.9em;
    }

    #events-heading {
        font-size: 1.8em;
    }

    label {
        display: inline-block;
        font-size: 1em;
        text-align: left;
        clear: both;
    }

    #newsletter-form {
        margin-left: 50px;
    }

    .signup-button {
        margin-left: auto;
    }

    #form-text-container {
        font-size: 1em;
        display: block;
        width: 500px;
        height: 200px;
    }

    #form-heading>h4 {
        font-size: 0.62em;
    }

}

@media screen and (max-width: 900px) {

    #logo {
        font-size: 2em;
    }

    #menu {
        font-size: 1.5em;
    }

    #menu>li {
        padding: 2px;
    }

    #events-heading {
        font-size: 3em;
    }
}

@media screen and (max-width: 800px) {

    h1 {
        font-size: 2em;
    }


    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.9em;
    }


    iframe {
        width: 90%;
        height: 400px;
    }

    #hero-image {
        width: auto;
        height: 1200px;
    }

    #menu>li {
        font-size: 0.9em;
        margin-left: 2px;
        margin-right: 5px;
        letter-spacing: 1px;
    }

    #intro-text {
        font-size: 1.2em;
        /* !! */
        margin: 0 auto;
        position: relative;
        text-align: justify;
    }

    #menu {
        font-size: 1.8em;
    }

    .social-media h3 {
        text-decoration: none;
        color: black;
        font-size: 1.6em;
    }

    .social-media i {
        font-size: 1.5em;
    }

    #travel-div {
        font-size: 50px;
    }

    #travel-text {
        font-size: 0.5em;
    }

    #events-outer>p {
        font-size: 0.9em;
    }

    #events-outer>h3 {
        font-size: 1.5em;
    }

    #events-heading {
        font-size: 2em;
    }

    #food-container {
        width: auto;
        height: auto;
        margin: auto;
    }

    #champagne-img {
        width: 50%;
        height: auto;
    }

    #oysters-img {
        width: 50%;
        height: auto;
    }

    #food-container {
        width: auto;
        height: auto;
    }

    #eat-heading {
        font-size: 2em;
    }

    #food-text>p {
        font-size: 1.7em;
    }

    #food-text>h4 {
        font-size: 1.9em;
        margin-right: 11%;
    }


    #form-text-container {
        width: 50%;
        height: 450px;
        font-size: 0.5em;
        display: block;
    }

    label {
        display: inline-block;
        font-size: 1em;
        text-align: left;
        clear: both;
    }

    #newsletter-form {
        margin-left: 20px;
    }

    .signup-button {
        margin-left: auto;
    }


    #form-text-container {
        font-size: 1em;
        display: block;
        width: auto;
        height: 200px;
    }

    #form-heading>h4 {
        font-size: 0.6em;
    }

}

@media screen and (max-width: 680px) {

    h1 {
        font-size: 1em;
    }

    #menu {
        display: -ms-inline-grid;
        font-size: 2em;
    }
}

@media screen and (max-width: 750px) {

    #logo {
        font-size: 2em;
    }

    #menu {
        font-size: 1.5em;
        margin-left: 2px;
        margin-right: 5px;
        letter-spacing: 1px;
    }

    .signup-button {
        margin-left: auto;
    }

    #eat-heading {
        font-size: 1.5em;
    }

    #travel-text>h2 {
        font-size: 1.2em;
    }

    #travel-text>p {
        font-size: 0.8em;
    }

    #events-outer {
        font-size:  0.9em;
    }

}

@media screen and (max-width: 820px) {

    h1 {
        font-size: 2em;
        display: -ms-inline-grid;
        text-align: center;
    }

    #menu>li {
        font-size: 1.5em;
        margin-left: 2px;
        margin-right: 5px;
        letter-spacing: 2px;
        display: -ms-inline-grid;
    }

    .signup-button {
        margin-left: auto;
    }

    #eat-heading {
        font-size: 1.5em;
    }

    #intro-text {
        font-size: 1.6em;
    }
}


@media screen and (max-width: 450px) {

    h1 {
        font-size: 1.2em;
        line-height: 1.5em;
        display: -ms-inline-grid;
    }

    #menu>li {
        font-size: 1em;
        letter-spacing: 2px;
        line-height: 2em;
        display: -ms-inline-grid;
    }

    .signup-button {
        margin-left: auto;
    }

    #eat-heading {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 350px) {

    h1 {
        font-size: 1.5em;
        display: inline-block;
        text-align: center;
    }

    iframe {
        width: 90%;
        height: 400px;
    }

    #hero-image {
        width: 90%;
        height: 1200px;
    }

    #menu>li {
        font-size: 1.3em;
        margin-left: 1px;
        margin-right: 3px;
        letter-spacing: 0.2px;
        display: -ms-inline-grid;
    }   

    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 0.9em;
    }

    #intro-text {
        font-size: 0.8em;
        margin: 0 auto;
        position: relative;
        text-align: justify;
    }

    #hero-image {
        width: auto;
    }

    .social-media h3 {
        text-decoration: none;
        color: black;
        font-size: 0.7em;
    }

    .social-media i {
        font-size: 1em;
    }

    #events-outer {
        font-size: 0.5em;
    }

    #events-heading {
        font-size: 0.9em;
    }

    #food-container {
        width: auto;
        height: auto;
        margin: auto;
    }

    #champagne-img {
        width: 50%;
        height: auto;
    }

    #oysters-img {
        width: 50%;
        height: auto;
    }

    #food-text>p {
        font-size: 0.9em;
    }

    #food-text>h4 {
        font-size: 1.1em;
        margin-right: 11%;
    }


    #food-container {
        width: auto;
        height: auto;
    }

    #food-text>p {
        font-size: 0.6em;
    }

    #food-text>h4 {
        font-size: 0.7em;
    }

    #eat-heading {
        font-size: 15px;
    }

    #travel-text {
        font-size: 0.31em;
    }

    label {
        display: inline-block;
        font-size: 0.7em;
        text-align: left;
        clear: both;
        column-count: 1;
    }

    #newsletter-form {
        margin-left: 10px;
    }

    .signup-button {
        margin-left: auto;
    }


    #form-text-container {
        font-size: 1em;
        display: block;
        width: 75%;
        height: auto;
    }

    #form-heading>h4 {
        font-size: 0.4em;
    }

}