@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Dongle&family=Lato:wght@300&family=Oswald&display=swap');

/* remember reponsive design for 1200px, 900px and 800px screen */
/* remember to update readme file - say thanks to fontawewsome, pexels (for all images individually)*/
/*remember aria-labels for all links including navigation links */
/* remember alt labels for all images including those inputted using CSS */
/* add comments throughout explaining key bits of code */
/*fix aria-labels for images inputed using css*/
/*remember to make some changes to text spacing in pages between headers and paragraphs */
/*HTML comments?*/
/*Opacity of images*/
/* Changes to main text elements */

/* Should I keep this wildcard selector in place at the end? */
/* * {
    margin: 0;
    padding: 0; 
    border: none;
} */

h1 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 100px;
} 

 h2 {
    font-family: Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 150%;
} 

h3 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 45px;
} 

h4 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 30px;
} 

body {
    font-family: Dongle, Helvetica, sans-serif;
    font-weight: 200; 
    color: black;
}
/*  p {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto; 
    font-size: 35px;
    position: relative;
    color: black;
} */

/* Removal of text decoration of love edinburgh link back to homepage */
#love-edinburgh {
    text-decoration: none;
    color: black;
    font-size: 250%;
}

/* repositioning of iframe element and it's associated div element on homepage */

iframe {
    display: block;
    margin: auto;
}


#welcome-video {
    margin-top: 10px;
}

/* Addition of hero image on homepage */ 
/* not sure whether to put an outer id into section element for overflow */
#hero-outer {
    height: 1200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    width: 100%;
    height: 1200px;
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
}

/* Addition of navigation menu */

#menu {
    font-family: Dongle, Helvetica, sans-serif;
    letter-spacing: 2px;
    list-style-type: none;
    font-size: 180%;
}

/* Have position using alternative code  */
#love-edinburgh, #menu {
    line-height: 75px;
    
}

#menu li {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
}


#menu a {
    text-decoration: none;
    color: inherit;
}

/* Addition of hover effect of navigation menu */

#menu a:hover {
    color: grey;
}

/* Positioning and styling of intro text (overlapping hero image */

#intro-text {
    margin: 20px 0 0 20px;
    float: left;
    position: absolute;
    font-family:Dongle, Helvetica, sans-serif;
    margin: 0 25% 0 0; 
    font-size: 35px;
    padding: 40px;
}

/*Addition of social media in footer and styling of footer */
.social-media {
    display: block;
    margin: auto;
    font-family: Dongle, Helvetica, sans-serif;
    text-align: center;
    white-space: normal;
}

/* ok to target a rather than li ? */
footer {
    padding: 50px;
    position: static;
    display: inline-block;
    height: 100px;
}

.social-media i {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.social-media h3 {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding: 3px;
}

/* Addition of background image on events page */
#events-outer {
    height: 1445px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#edfest {
    width: 100%;
    height: 1445px; 
    background: url('../images/theatre.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    display: block;
    background-size: auto 100%;
}

/* Styling of div elements containing text on events page */

/* #to-do {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 20px;
} */

#to-do-fringe {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    color: white;
    margin-right: 500px; 
    margin-bottom: 100px;
    margin-right: 75%; 
    margin-left: 10%;;
    background-color: black;
    opacity: 0.85;
    width: 50%;
    text-align: center;
    padding: 10px;
}
 


#to-do-film {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    margin-bottom: 100px;
    float: right; 
    color: white;
    margin-bottom: 100px;
    margin-right: 10%; 
    margin-left: 75%;
    background-color: black;
    opacity: 0.85;
    width: 50%;
    text-align: center;
} 
#to-do-book {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    margin-right: 75%; 
    margin-left: 10%;
    margin-bottom: 50px;
    color: white;
    background-color: black;
    opacity: 0.85;
    float: left;
    width: 50%;
    text-align: center;
}

#to-do-music {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.85em;
    margin-bottom: 100px;
    float: right; 
    color: white;
    margin-bottom: 100px;
    margin-right: 10%; 
    margin-left: 75%;
    background-color: black;
    opacity: 0.85;
    width: 50%;
    text-align: center;
    padding: 10px;
} 

/* Addition of hover effects of div elements on events page */

#to-do-fringe:hover {
    opacity: 1;
 }
 #to-do-film:hover {
    opacity: 1;
 }
 #to-do-book:hover {
    opacity: 1;
 }

 #to-do-music:hover {
    opacity: 1;
 }


/* Addition of image background for form on newsletter page */

#form-image {
    width: 100%;
    height: 500px;
    background: url('../images/form-background.jpg') no-repeat center center;
}

#form-text-container {
    width: 50%;
    height: 210px;
    background-color: #c2099d;
    color: white;
    font-family:Dongle, Helvetica, sans-serif;
    font-size: 25px;
    opacity: 0.9;
    padding: 10px;
}

/* Styling of inputs and associated labels on newsletter page */

#form-heading
 {
    font-family:Dongle, Helvetica, sans-serif;
    display: block;
    margin: auto;
    font-size: 30px;
}

label {
    display: inline-block;
    width: 105px;
    text-align: left;
}

/* Styling of text of eat+drink page */

#food-text {
    float: left;
    color: black;
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 35px;
    clear: left;
    text-align: center;
    justify-content: center;

}

#food-text > p {
    margin: 0 50px 10px 0; 
    display: block;
    font-size: 32px;
    float: left;
    padding: 40px;
}

/*Styling of div element on eat+drink page */

#food-container {
    display: flex; 
    margin: auto;
    position: relative;
}

 /*Styling of img elements on eat+drink page */

#champagne-img {
    height:420px;
    width: 50%;
    padding-bottom: 20px;
}

#oysters-img {
    height: 420px;
    width: 50%;
    padding-bottom: 20px;
}

#social-media-eat {
    margin-top: 100px;
}

#travel-div {
    margin: auto;
    width: 60%;
}

/*Addition of background image on travel adive page. Note - I deliberately wanted to repeat the image */
#travel-outer {
    height: 1000px;
    width: 94%;
    overflow: hidden;
    position: relative;
}

#edin-travel {
    background: url('../images/ed-travel.jpg') repeat center center;
    width: 94%;
    height: 1000px;
    padding: 60px;
    background-size: contain;
}

/* Styling of text on travel advice page and div element */

#travel-text {
    font-family: Dongle, Helvetica, sans-serif;
    font-size: 1.9em; 
    color: white;
    background-color: black;
    opacity: 0.8;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 50px;
    position: absolute;
} 

/*Responsive element code below */

@media screen and (max-width: 950px) {
    h1 {
        font-size: 35px;
    }
    #food-container {
        width:80%;
        height: 50px;
        margin:auto;
     }
}

@media screen and (max-width: 800px) {
    #food-container {
       width:80%;
       height: 50px;
       margin:auto;
    }

    #menu {
        font-size: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
    
    iframe {
        width: 90%;
        height: 400px;
    }

    #hero-image {
        width: 90%;
        height: 1200px;
    }

    #form-text-container {
        width: 50%;
        height: 450px;
        font-size: 1.85em;
        column-count: 5;
    }

    #food-text {
        font-size: 20px;
    }
    #travel-div {
        font-size: 5px;
    }

    #travel-text {
        font-size: 15px;
    }
    
    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 18px;
    }
}




@media screen and (max-width: 1200px) {
}